<!-- <div class="screen-title"> 
Maintenance - Manage Message Center
</div>
<br> -->

<div style=" font-weight: bold; ">
    Manage Message Center:
</div>
<div class="details">&ensp;Select user type and enter message for message center</div>
<hr>
<div class="panel panel-primary">
        <table class="table table-borderless" align="left" style="width: 50%;">
            <tr>
                <td>Select type of user:</td>
                <td>
                    <select name="" id="">
                        <option value="1"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Expiry Date:</td>
                <td><input type="date"></td>
            </tr>
        </table>
</div>
<table class="table">
    <tr>

    </tr>
</table>
<hr>
<div>
    <p style="font-size: small;">
        Enter message for message center:
    </p>
</div>
<div align="center">
    <textarea name="" id="" rows="5" style="width: 50%;"></textarea>
</div>