<div class="screen-title">
    Call-in Part List - Historical
</div>
<br>


<div class="example-screen-title">
    Search for Historical Call-In Part List items:
</div>
<div class="details">&ensp;Provide criteria to search for Historical Call-In Part List items</div>

<div class="panel panel-primary">
    <table border="0" width="970" cellpadding="4" cellspacing="0" class="supplier-panel-body">
        <tbody>
            &nbsp;
            <tr>
                <td width="2%">Supplier:</td>
                <td width="45" bgcolor="#ffffff">
                    <select #s (change)="callSupplier(s.value)" style="width: 30%;">
                        <option *ngFor="let supplier of suppliers" value="{{supplier.supplierNo}}">
                            {{supplier.supplierNo}}
                            {{supplier.supplierName}}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div class="supplier-panel-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                        <div class="panel-heading">
                            Request Status:
                        </div>
                        <div>
                            Historical
                        </div>
                    </td>
                    
                    <td>
                        <div class="panel-heading">
                            Short Part No:
                        </div>
                        <div>
                            <select style="width: 100%;">
                                <option value="0">All</option>
                                <option value=""></option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="panel-heading">
                            Destination Name:
                        </div>
                        <div>
                            <select style="width: 100%;">
                                <option value="0">All</option>
                                <option value=""></option>
                            </select>
                        </div>
                    </td>
                    <td style="width: 10%;">
                        <div class="panel-heading">
                            Expiration Date Range:
                        </div>
                        <div>
                            <tr>
                                <td>
                                    From: <br> <br> To:
                                </td>
                                <td>
                                    <input type="date"> <br> <br><input type="date">
                                </td>

                            </tr>
                            <!-- <tr>
                                <td>
                                    To:
                                </td>
                                <td>
                                    <input type="date">
                                </td>
                            </tr> -->
                        </div>
                    </td>
                    <td>
                        <div class="panel-heading">
                            Request Number:
                        </div>
                        <div>
                            <input type="number">
                        </div>
                    </td>
                    <td>
                        <div class="panel-heading">
                            CPL Ref No:
                        </div>
                        <div>
                            <input type="number">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <div style="font-size: x-small;">&ensp;Select Feature(s) to Retrieve By</div>
                </tr>
                <br>
                <tr>
                    <td >
                        <div class="panel-heading">
                            Available Features:
                        </div>
                        <div>
                            <select style="width: 100%;">
                                <option value="0">All</option>
                                <option value=""></option>
                            </select>
                        </div>
                    </td>
                    <td colspan="2">
                        <div class="panel-heading">
                            Feature values :
                        </div>
                        <div>
                            <select class="form-control" [ngModel]="selectedToAdd" multiple name="myselecttsms2"
                                (ngModelChange)="chosenCars($event)" style="height: 100%;width: 100%;">
                                <option *ngFor="let car of cars" [ngValue]="car">{{car.name}}</option>
                            </select>
                        </div>

                    </td>
                    <td align="center">
                        <br>
                        <div class="panel-heading">
                            <button (click)="assigne()" class="btn btn-sm btn-outline-info">
                                ></button>
                        </div>
                        <br>
                        <div class="panel-heading">
                            <button (click)="unassigne()" class="btn btn-sm btn-outline-info">
                                < </button>
                        </div>
                    </td>
                    <td colspan="2">
                        <div class="panel-heading">
                            Selected Feature values :
                        </div>
                        <div>
                            <select class="form-control" [ngModel]="selectedToRemove" multiple name="myselecttsms"
                                (ngModelChange)="chosenCarsToRemove($event)" style="height: 100%;width: 100%;">
                                <option *ngFor="let car of selectedCars" [ngValue]="car">{{car.name}}</option>
                            </select>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td align="right" colspan="6"><button (click)="toggle()" class="cqp-btn">Search</button> &nbsp;
                        &nbsp;<button type="reset" class="cqp-btn">Reset</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr />
    </div>
</div>