<div class="screen-title"> 
Administration - CQ Supplier Setup
</div>
<br>


<form>
<table width="970" align="center" border="0" cellspacing="0" cellpadding="0">

 <tbody><tr>
    <td class="alerthead2">Search for Users:</td>
 </tr>
        <tr>
          <td class="data" colspan="2">Provide criteria to search for users.</td>
        </tr>
		<!--
      	<tr>
          <td class="alertRed" colspan="2">Action Status goes here</td>
        </tr>
		-->
      </tbody></table>
      
      <table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
        <tbody><tr>
      	  <td colspan="2" height="8"><img src="../../assets/clear.gif" width="1" height="1" border="0"></td>
      	</tr>
      	<tr>
          <td colspan="2" height="1" bgcolor="#999999"><img src="../../assets/clear.gif" width="1" height="1" border="0"></td>
      	</tr>
        <tr>
      	  <td colspan="2" height="8"><img src="../../assets/clear.gif" width="1" height="1" border="0"></td>
        </tr>
	  </tbody></table>
	  
	  <table width="970" align="center" border="0" cellpadding="2" cellspacing="0">
        <tbody><tr>
          <td width="25%">First Name:</td>
          <td width="20%">Last Name:</td>
          <td width="55%">User Id:</td>
        </tr>
        <tr>
         <td class="data" align="left" valign="top"><input type="text" name="firstName" maxlength="50" size="25" value="" class="data"></td>

          <td class="data" align="left" valign="top"><input type="text" name="lastName" maxlength="50" size="25" value="" class="data"></td>
          <td class="data" align="left" valign="top"><input type="text" name="userId" maxlength="50" size="25" value="" class="data"></td>
		</tr>
      </tbody></table>
	  <table width="970" align="center" border="0" cellpadding="0" cellspacing="0">

			<tbody><tr>
				<td height="64"><img src="../../assets/clear.gif" width="1" height="1" border="0"></td>
			</tr>

			<tr>
				<td height="64"><img src="../../assets/clear.gif" width="1" height="1" border="0"></td>
			</tr>

			<tr>
				<td height="84"><img src="../../assets/clear.gif" width="1" height="1" border="0"></td>
			</tr>


			</tbody></table>
			
			<table width="970" align="center" border="0" cellpadding="0" cellspacing="0">

			<tbody><tr>
				<td align="right" style="padding-left: 3; padding-top: 3; padding-bottom: 3; border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium; border-bottom-width: 1" bordercolor="#990000">
				<button valign="top" (click)="newoverrideForm.reset()" type="submit" 
					class="cqp-btn short-btn-space">Search</button>
					
				<button valign="top" (click)="newoverrideForm.reset()" type="submit" 
					class="cqp-btn short-btn-space">Reset</button>	
				
				</td>
			</tr>
			</tbody></table>
	  

</form>
