<!-- <div class="screen-title">
    Maintenance - Honda Holiday
</div>
<br> -->


<div style=" font-weight: bold; ">
    Manage Honda Holidays:
</div>
<div class="details">&ensp;Provide Honda Holidays for the year</div>
<hr>
<table class="table table-borderless">
    <tr>
        <td style="width: 55%;"></td>

        <td>
            <b>&ensp; Select Year :</b>
            <select name="" id="">
                <option value="1">2021</option>
            </select>
            <br>
            No. of holidays for selected year: &ensp;<b>18</b>
        </td>
    </tr>
</table>

<table class="table table-borderless table-hover" align="center" border="0" cellpadding="0" cellspacing="0"
    style="width: 30%;height: 20%;">
    <thead>
        <tr class="list-header">
            <th>Holiday Date</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody style="text-align: center;">
        <tr>
            <td>01/01/2021</td>
            <td></td>
        </tr>
        <tr>
            <td>04/01/2021</td>
            <td></td>
        </tr>
        <tr>
            <td><input type="date" value="05/31/2021"></td>
            <td><input type="checkbox" name="" id=""></td>
        </tr>
        <tr>
            <td><input type="date" value="06/28/2021"></td>
            <td><input type="checkbox" name="" id=""></td>
        </tr>
        <tr>
            <td><input type="date" value="05/31/2021"></td>
            <td><input type="checkbox" name="" id=""></td>
        </tr>
        <tr>
            <td><input type="date" value="06/28/2021"></td>
            <td><input type="checkbox" name="" id=""></td>
        </tr>
        <tr>
            <td><input type="date" value="05/31/2021"></td>
            <td><input type="checkbox" name="" id=""></td>
        </tr>
        <tr>
            <td><input type="date" value="06/28/2021"></td>
            <td><input type="checkbox" name="" id=""></td>
        </tr>
        <tr>
            <td><input type="date" value="05/31/2021"></td>
            <td><input type="checkbox" name="" id=""></td>
        </tr>
        <tr>
            <td><input type="date" value="06/28/2021"></td>
            <td><input type="checkbox" name="" id=""></td>
        </tr>
        <tr>
            <td><input type="date" value="05/31/2021"></td>
            <td><input type="checkbox" name="" id=""></td>
        </tr>
        <tr>
            <td><input type="date" value="06/28/2021"></td>
            <td><input type="checkbox" name="" id=""></td>
        </tr>
    </tbody>
</table>
<table class="table">
    <tr>
        <td style="width: 60%;"></td>
        <td align="right">
            <button (click)="toggle()" class="cqp-btn">Save</button> 
            &nbsp;
            &nbsp;
            <button class="cqp-btn">Delete</button> 
            &nbsp; 
            &nbsp;
            <button type="reset" class="cqp-btn">Reset</button>
            </td>
    </tr>
</table>