<!-- <div class="screen-title"> 
Maintenance - Manage BOM
</div>
<br> -->


<div style=" font-weight: bold; ">
    Manage Bill Of Materials:
</div>
<div class="details">&ensp;Provide criteria to search for the Bill Of Materials</div>
<hr>

<table class="table table-borderless table-condensed">
    <tr>
        <td>
            <div class="panel-heading">
                Short Part No:
            </div>
            <div>
                <input type="number" name="" id="">
            </div>
        </td>
        <td>
            <div class="panel-heading">
                Supplier No.:
            </div>
            <div>
                <input type="text" name="" id="">
            </div>
        </td>
    </tr>
</table>
<table class="table table-borderless">
    <tr>
        <td style="width: 60%;"></td>
        <td align="right">
            <button (click)="toggle()" class="cqp-btn">Search</button> 
            &nbsp;
            &nbsp;
            <button class="cqp-btn">Create</button> 
            &nbsp; 
            &nbsp;
            <button type="reset" class="cqp-btn">Reset</button>
            </td>
    </tr>
</table>
 